<template name="header">
	<!-- <nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
			<h1><a href="/"><img src="ico/logo.png" alt="DC" width="70"> no Mundo</a><span>.</span></h1>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav">
			<li><a href="#">Sobre</a></li>
			<li><a href="#">Adicionar alunos</a></li>
			<li><a href="#">Mapa</a></li>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="#">Link</a></li>
		  </ul>
		  <div class="col-md-3 col-md-offset-4 visible-lg visible-md hidden-sm hidden-xs">
			<div class="row">
				<p>Departamento de Computação</p>
			</div>
			<div class="row">
				<p>Laboratório de Interação Avançada</p>
			</div>
			<div class="col-sm-4 col-md-1 col-lg-1 hidden-xs">
				<a href=""><img src="ico/logolia.png" alt="LIA" height="40" width="40"></a>
			</div>
		</div>
		</div>
	  </div>
	</nav> -->
	<div class="header row">
		  <div class="container">
			<div class="logo col-xs-8 col-sm-8 col-md-4 col-lg-4">
				<h1><a href="/"><img src="ico/logo.png" alt="DC" width="70"> no Mundo</a><span>.</span></h1>
			</div>

			<div class="col-md-3 col-md-offset-4 visible-lg visible-md hidden-sm hidden-xs">
				<div class="row">
					<p>Departamento de Computação</p>
				</div>
				<div class="row">
					<p>Laboratório de Interação Avançada</p>
				</div>
			</div>
			<div class="col-sm-4 col-md-1 col-lg-1 hidden-xs">
				<a href=""><img src="ico/logolia.png" alt="LIA" height="40" width="40"></a>
			</div>
		  </div>
	</div>
</template>