<template name="header">
	<div class="container">
		<div class="header row">
			<div class="logo span4">
				<h1><img src="ico/logo.png" alt="DC" height="70" width="70"><a href=""> no Mundo</a><span>.</span></h1>
			</div>
			<table align="right">
				<tr>
					<td align="center">
						<p>Departamento de Computação</p>
						<p>Laboratório de Interação Avançada</p>
					</td>
					<td>
						<a href=""><img src="ico/logolia.png" alt="LIA" height="40" width="40"></a>
					</td>
				</tr>
			</table>	
		</div>
	</div>
</template>